---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Master from "layouts/master.astro";
import Nav from "layouts/partials/nav.astro";
import Navbar from "layouts/partials/navbar.astro";

export const getStaticPaths = (async () => {
  const docs = await getCollection("docs");

  return docs.map((a) => {
    return {
      params: {
        slug: a.slug,
      },
      props: a,
    };
  });
}) satisfies GetStaticPaths;

const entry = Astro.props;

const { Content, headings, remarkPluginFrontmatter } = await entry.render();
---

<Master
  doc={{
    title: remarkPluginFrontmatter.title,
    meta: remarkPluginFrontmatter.meta,
  }}
>
  <Navbar>
    <Fragment slot="offcanvas">
      <Nav pathname={entry.slug} />
    </Fragment>
  </Navbar>

  <div class="uk-container uk-container-xlarge">
    <aside class="aside-l">
      <Nav pathname={entry.slug} />
    </aside>
    <div
      class="uk-container uk-container-xsmall uk-margin-medium-top uk-margin-medium-bottom"
    >
      <div class="uk-position-relative" id="docs">
        <Content />
        <aside class="aside-r">
          <ul
            class="uk-nav uk-nav-default"
            uk-scrollspy-nav="closest: li; scroll: true; offset: 40"
            uk-sticky="offset: 96"
          >
            <li class="uk-nav-header">On This Page</li>
            {
              headings
                .filter((a) => a.depth === 2)
                .map((a) => (
                  <li>
                    <a href={`#${a.slug}`}>{a.text}</a>
                  </li>
                ))
            }
            <li class="uk-nav-divider my-2"></li>
            <li>
              <a
                href="https://github.com/sveltecult/franken-ui"
                target="_blank"
              >
                <span
                  class="uk-margin-small-right"
                  uk-icon="ratio: 0.8; icon: warning"></span>
                <span>Report issue</span>
              </a>
            </li>
            <li>
              <a
                href={`https://github.com/sveltecult/franken-ui-site/tree/master/src/content/docs/${entry.id}`}
                target="_blank"
              >
                <span
                  class="uk-margin-small-right"
                  uk-icon="ratio: 0.8; icon: file-edit"></span>
                <span>Edit this page</span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</Master>
