---
import { getCollection } from "astro:content";

const docs = await getCollection("docs");

const { pathname } = Astro.url;
---

<ul class="uk-nav-default uk-nav lg:hidden">
  <li class={pathname.startsWith("/docs") ? "uk-active" : ""}>
    <a href="/docs/introduction">Docs</a>
  </li>
  <li>
    <a href="#not-available" uk-toggle>Themes</a>
  </li>
  <li class={pathname.startsWith("/examples") ? "uk-active" : ""}>
    <a href="/examples/mail">Examples</a>
  </li>
  <li>
    <a href="#not-available" uk-toggle>Blocks</a>
  </li>
  <li>
    <a href="#not-available" uk-toggle>Github</a>
  </li>
</ul>

<ul class="uk-nav-default uk-nav pt-4 lg:pt-0">
  <li class="uk-nav-header">Getting Started</li>
  {
    docs
      .filter((a) => a.data.group === "getting-started")
      .sort((a, b) => (a.data.order || 0) - (b.data.order || 0))
      .map((a) => (
        <li class={pathname === `/docs/${a.slug}` ? "uk-active" : ""}>
          <a href={`/docs/${a.slug}`}>{a.data.name}</a>
        </li>
      ))
  }
</ul>

<ul class="uk-nav-default uk-nav pt-4">
  <li class="uk-nav-header">Templates</li>
  {
    [
      {
        link: "https://github.com/sveltecult/franken-ui-template-astro/",
        text: "Astro",
      },
      {
        link: "https://github.com/sveltecult/franken-ui-template-laravel/",
        text: "Laravel (Blade)",
      },
    ].map((a) => (
      <li>
        <a class="justify-between" href={a.link} target="_blank">
          {a.text}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-external-link"
          >
            <>
              <path d="M15 3h6v6" />
              <path d="M10 14 21 3" />
              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
            </>
          </svg>
        </a>
      </li>
    ))
  }
  <li>
    <a class="justify-between" href="#non-npm" uk-toggle>
      Non-NPM / No-build
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-external-link"
        ><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path
          d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
        ></path></svg
      >
    </a>
  </li>
</ul>

<ul class="uk-nav-default uk-nav pt-4">
  <li class="uk-nav-header">Components</li>
  {
    docs
      .filter((a) => a.data.group === "components")
      .map((a) => (
        <li class={pathname === `/docs/${a.slug}` ? "uk-active" : ""}>
          <a class="justify-between" href={`/docs/${a.slug}`}>
            <span>{a.data.name}</span>
            {a.data.icon ? (
              <span uk-icon={`icon: ${a.data.icon}; ratio: 0.8`} />
            ) : (
              ""
            )}
          </a>
        </li>
      ))
  }
</ul>

<ul class="uk-nav-default uk-nav pt-4">
  <li class="uk-nav-header">UIkit Compatibility</li>
  {
    docs
      .filter((a) => a.data.group === "compatibility")
      .map((a) => (
        <li class={pathname === `/docs/${a.slug}` ? "uk-active" : ""}>
          <a class="justify-between" href={`/docs/${a.slug}`}>
            {a.data.name}
          </a>
        </li>
      ))
  }
</ul>
