---
import Main from "layouts/main.astro";
import Announcement from "./partials/announcement.astro";
import { Image } from "astro:assets";

const { doc, active, caption = { light: "", dark: "" } } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/examples/screenshots/*.{jpeg,jpg,png,gif}",
);
const image = (await images[`/src/examples/screenshots/${active}-light.png`]())
  .default;
---

<Main doc={doc}>
  <main class="container">
    <div
      class="mx-auto flex max-w-[980px] flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
    >
      <Announcement />
      <h1
        class="text-center text-3xl font-bold leading-tight tracking-tighter md:text-6xl lg:leading-[1.1]"
      >
        Check out some examples
      </h1>
      <span
        class="max-w-[750px] text-center text-lg text-muted-foreground sm:text-xl"
        style="display: inline-block; vertical-align: top; text-decoration: inherit; max-width: 568px;"
        >Dashboard, cards, authentication. Some examples built using the
        components. Use this as a guide to build your own.</span
      >
      <div
        class="flex w-full items-center justify-center space-x-4 py-4 md:pb-10"
      >
        <a class="uk-button uk-button-primary" href="/docs/introduction">
          Get Started
        </a>
        <a class="uk-button uk-button-default gap-x-2" href="/docs/accordion">
          Components
        </a>
      </div>
    </div>

    <div class="overflow-hidden">
      <ul
        class="uk-subnav uk-subnav-secondary -mb-10 flex-nowrap overflow-auto pb-10"
      >
        <li class={active === "mail" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/mail">Mail</a>
        </li>
        <li class={active === "dashboard" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/dashboard">Dashboard</a>
        </li>
        <li class={active === "cards" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/cards">Cards</a>
        </li>
        <li class={active === "tasks" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/tasks">Tasks</a>
        </li>
        <li class={active === "playground" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/playground">Playground</a>
        </li>
        <li class={active === "forms" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/forms">Forms</a>
        </li>
        <li class={active === "music" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/music">Music</a>
        </li>
        <li class={active === "authentication" ? "uk-active" : ""}>
          <a class="h-7" href="/examples/authentication">Authentication</a>
        </li>
      </ul>
    </div>

    <div class="mt-4 overflow-hidden rounded-lg border border-border shadow-lg">
      <div class="hidden md:block">
        <slot />
      </div>

      <div class="md:hidden">
        <div class="dark:hidden" uk-lightbox>
          <a
            href={`/images/screenshots/${active}-light.png`}
            data-caption={caption.light}
          >
            <Image
              alt={caption.light}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${image.width}px`}
              src={images[`/src/examples/screenshots/${active}-light.png`]()}
              widths={[240, 540, 720, image.width]}
            />
          </a>
        </div>

        <div class="hidden dark:block" uk-lightbox>
          <a
            href={`/images/screenshots/${active}-dark.png`}
            data-caption={caption.dark}
          >
            <Image
              alt={caption.dark}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${image.width}px`}
              src={images[`/src/examples/screenshots/${active}-dark.png`]()}
              widths={[240, 540, 720, image.width]}
            />
          </a>
        </div>
      </div>
    </div>
  </main>
</Main>
